:host {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

nz-header {
  color: #fff;
  font-size: x-large;
  position: fixed;
  width: 100%;
  z-index: 5;
  padding: 16px 16px 16px;
}

nz-footer {
  line-height: 1.5;
}

nz-sider {
  background: #3ba0e9;
  color: #fff;
  line-height: 120px;
}

nz-content {
  background: rgba(16, 142, 233, 1);
  color: #fff;
  line-height: 120px;
  padding-top: 3vmax;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

nz-layout {
  margin-bottom: 48px;
}

.inner-content {
  text-align: initial;
  background: white;
  color: initial;
  min-height: initial;
  line-height: initial;
  margin: 8px 32px 0;
  padding: 16px 16px 16px 16px;
}

.inner-content-header {
  display:flex;
  flex-direction: column;
}
nz-layout nz-layout,
nz-layout:last-child {
  margin: 0;
}

.json-displayer {
  background-color: #efefef !important;
  padding: 16px;
}
